html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans',
  sans-serif;
  font-weight: 300;
  background-color: #132148;
  color: white;
}

#root {
  height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}
